{% extends 'base.html.twig' %}

{% block page_content %}
	<div class="row content grid-1-5">
		{# 20% width : Menu#}
		{% include "/shared_templates/dashboard_menu.html.twig" %}
		<div class="col">
			{# 80% width : Main content #}
				{# 1st ROW : Warehouses List, Selected Warehouse, Search bar #}
				<div class="row vh-15 text-light grid-1-2-2">
					<div class="col h-100 p-1">
						<div class="cstm-card h-100">
							<div class="h-100">
								<p class="bg-cstm-blue pb-2 mb-0"> Product receptions for warehouse :</p>
								<p class="text-center my-0 fs-4">{{ warehouse.getWarehouseName }}</p>
							</div>
						</div>
					</div>
					<div class="col h-100 p-1">
						<div class="cstm-card h-100">
							<p>Invoice / Parcel Informations</p>
							{% if product_list == 'empty' %}{# NEW Reception #}
								{{ form_start(form) }}
									<div class="row">
										<div class="col">
											{{ form_row(form.productReceptionInvoiceRef, {'label': 'Invoice'}) }}
										</div>
										<div class="col">
											{{ form_row(form.productReceptionParcelRef, {'label': 'Parcel'}) }}
										</div>
									</div>
									<div class="row">
										<div class="col">
											{{ form_row(form.productReceptionDate, {'label': 'Date'}) }}
										</div>
										<div class="col">
											{{ form_row(form.submit) }}
										</div>
									</div>
								{{ form_end(form) }}
							{% else %}{# EXISTING Reception #}
								<div class="row title-bold">
									<div class="col">
										Invoice : {{ product_reception.getProductReceptionInvoiceRef }}
									</div>
									<div class="col">
										Parcel : {{ product_reception.getProductReceptionParcelRef }}
									</div>
								</div>
								<div class="row title-bold">
									<div class="col">
										{{ product_reception.getProductReceptionDate|date("Y - m - d") }}
									</div>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="col h-100 p-1">
						<div class="cstm-card h-100">
							<p>Filter list</p>
							{% if product_list != 'empty' %}
								{% include "/shared_templates/filter_form.html.twig" %}
							{% endif %}
							
						</div>
					</div>
				</div>
				{# 2nd ROW : List #}
				<div class="vh-70 p-1">
					<div class="cstm-card h-100">
						<p class="row bg-cstm-blue pb-2 mb-0"></p>
						{% if product_list != 'empty' %}
							<div class="bg-light h-95 overflow-auto">
								<p>PRODUCT LIST</p>
								{{ form_start(form_select_product_to_add) }}
								{{ form_end(form_select_product_to_add) }}
								<hr>
								<p>SELECTION</p>
								{# {% if form_selected_products.getProductMovements %}
									{% for item in form_selected_products.getProductMovements %}
									<pre>
										{{ dump(item) }}
									</pre>
									{% endfor %}
								{% endif %} #}
								{# {{ form_start(form_selected_products) }}
								{{ form_end(form_selected_products) }} #}
								{# {{ form_start(form_products_not_in_stock) }}
									{% if form_products_not_in_stock.vars.value.getProducts|length > 0 %}
										<table class="table table-sm table-striped-columns table-hover table-responsive">
											<thead>
												<tr class="m-0 ps-1 text-center">
													<th scope="col" class="title">Product Name</th>
													<th scope="col" class="title">Serial</th>
													<th scope="col" class="title">Ref</th>
													<th scope="col" class="title">Ref 2</th>
													<th scope="col" class="title">Value</th>
													<th scope="col" class="title">Qty</th>
												</tr>
											</thead>
											<tbody>
												{% for one_product in form_products_not_in_stock.products %}
													<tr class="m-0 ps-1">
														<td class="title cstm-darkBlue">{{ one_product.vars.value.getProductName }}</td>
														<td class="title cstm-darkBlue">{{ one_product.vars.value.getProductSerialNumber }}</td>
														<td class="title cstm-darkBlue">{{ one_product.vars.value.getProductRef }}</td>
														<td class="title cstm-darkBlue">{{ one_product.vars.value.getProductRef2 }}</td>
														<td class="title cstm-darkBlue text-end">{{ one_product.vars.value.getProductValue }}</td>
														<td class="title cstm-darkBlue text-end">{{ form_row(one_product.qty) }}{{ form_row(one_product.submit) }}</td>
													</tr>
													<div class="hidden">
														{{ form_row(one_product.product_name) }}
														{{ form_row(one_product.product_serial_number) }}
														{{ form_row(one_product.product_ref) }}
														{{ form_row(one_product.product_ref2) }}
														{{ form_row(one_product.product_value) }}
													</div>
												{% endfor %}
											</tbody>
										</table>
									{% endif %}
								{{ form_end(form_products_not_in_stock) }} #}
							</div>
						{% endif %}
					</div>
				</div>
		</div>
	</div>
{% endblock %}
