{% extends 'base.html.twig' %}

{% block page_content %}
	{# ROW 1 : *** #}
	<div class="row py-0 mt-1">
		{# ROW 1 COL 1 #}
		<div class="col">
			<div class="d-flex row text-light h-100 py-1">
				{# ROW 1 COL 1 CARD 1 #}
				<div class="col cstm-card h-100 mx-1">
					<p>Warehouse detail</p>
					{# ROW 1 COL 1 ROW 1 #}
					<div class="row">
						<div class="col mx-1">
							<div class="card bg-cstm-light ">
								<p class="row my-0 cstm-darkBlue mx-auto title-bold">{{ warehouse.getWarehouseName }}</p>
								<hr class="w-75 mx-auto">
								<p class="row ps-3 my-0 cstm-darkBlue">{{ warehouse.getWarehouseAddressNumber ~ ' ' ~ warehouse.getWarehouseAddressRoad ~ ' ' ~ warehouse.getWarehouseAddressPostalCode ~ ' ' ~ warehouse.getWarehouseAddressCity }}</p>
								<p class="row ps-3 my-0 cstm-darkBlue">{{ warehouse.getWarehouseAddressState ~ ' ' ~ warehouse.getWarehouseAddressCountry }}</p>
								<p class="row ps-3 my-0 cstm-darkBlue">{{ warehouse.getWarehousePhone }}</p>
							</div>
						</div>
						<div class="col mx-1">

						</div>
					</div>
				</div>
			</div>
		</div>
		{# ROW 1 COL 2 #}
		<div class="col">
			{# ROW 1 COL 2 ROW 1 #}
			<div class="row text-light h-100 py-1">
				{# ROW 1 COL 2 ROW 1 CARD 1 #}
				<div class="col cstm-card h-100 mx-1">
					<p>Actions</p>
					<div class="row row-cols-5 my-0 fs-4 justify-content-evenly">
						{% include "/shared_templates/action_buttons.html.twig" %}
					</div>
				</div>
			</div>
		</div>
		{# ROW 1 COL 3 #}
		<div class="col">
			{# ROW 1 COL 2 ROW 1 #}
			<div class="row text-light h-100 py-1">
				{# ROW 1 COL 2 ROW 1 CARD 1 #}
				<div class="col cstm-card h-100 mx-1">
					<p>Search</p>
					<div class="row row-cols-5 my-0 fs-4 justify-content-evenly">
						{% include "/shared_templates/filter_form.html.twig" %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{# 2nd ROW : List #}
	<div class="h-fill p-1">
		<div class="cstm-card h-100">
			<p class="row bg-cstm-blue pb-2 mb-0">Products</p>
			<div class="bg-light h-95 overflow-auto">
				<table class="table table-sm table-striped-columns table-hover table-responsive">
					<thead>
						<tr class="m-0 ps-1 text-center">
							<th scope="col" class="title">Product Name</th>
							<th scope="col" class="title">Serial</th>
							<th scope="col" class="title">Ref</th>
							<th scope="col" class="title">Ref 2</th>
							<th scope="col" class="title">Value</th>
						</tr>
					</thead>
					<tbody>
						{% for one_product in product_list %}
							<tr class="m-0 ps-1">
								{# <td class="title cstm-darkBlue"><a href={{ path('receptions') }} class="btn-sm cstm-darkBlue">{{ one_product.getProductName }}</a></td> #}
								<td class="title cstm-darkBlue">{{ one_product.getProductName }}</td>
								<td class="title cstm-darkBlue">{{ one_product.getProductSerialNumber }}</td>
								<td class="title cstm-darkBlue">{{ one_product.getProductRef }}</td>
								<td class="title cstm-darkBlue">{{ one_product.getProductRef2 }}</td>
								<td class="title cstm-darkBlue text-end">{{ one_product.getProductValue }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
