{% extends 'base.html.twig' %}

{% block page_content %}
	<div class="row h-fill py-0 mt-1">
		{# COL 1 #}
		<div class="col-2">
			<div class="d-flex row text-light h-100 py-1">
				{# Dashboard #}
				<div class="col cstm-card h-100 mx-1">
					<p>Dashboard</p>
					{% include "/shared_templates/dashboard_menu.html.twig" %}
				</div>
			</div>
		</div>
		{# COL 2 #}
		<div class="col d-flex flex-column">
			{# COL 2 ROW 1 #}
			<div class="row text-light py-1">
				{# COL 2 ROW 1 COL 1 #}
				<div class="col d-flex flex-column text-light">
					<div class="cstm-card mx-1 h-100">
						<p>Warehouses</p>
						{% include "/shared_templates/warehouse_select.html.twig" %}
					</div>
				</div>
				{# COL 2 ROW 1 COL 2 #}
				<div class="col text-light">
					<div class="cstm-card mx-1 h-100">
						<p>Filter List</p>
						{% include "/shared_templates/filter_form.html.twig" %}
					</div>
				</div>
			</div>
			{# COL 2 ROW 2 #}
			<div class="row text-light py-1 h-fill">
				{# COL 2 ROW 1 COL 1 #}
				<div class="col d-flex flex-column text-light h-100">
					<div class="cstm-card mx-1 h-100">
						<p>Transferts</p>
						<div class="bg-light overflow-auto vh-60">
							<table class="table table-sm table-striped-columns table-hover table-responsive">
								<thead>
									<tr class="m-0 ps-1 text-center">
										<th scope="col" class="title">Transfert Date</th>
										<th scope="col" class="title">Message</th>
										<th scope="col" class="title">Warehouse</th>
										<th scope="col" class="title">Origin -> Destination</th>
										<th scope="col" class="title"></th>
									</tr>
								</thead>
								<tbody>
									{% for one_transfert in transfert_list|sort((a,b) => [b.getStockTransfertDate] <=> [a.getStockTransfertDate]) %}
										{% if one_transfert.getId < one_transfert.getLinkedTransfert.getId %}
											<tr class="m-0 ps-1">
												<td class="title cstm-darkBlue">{{ one_transfert.getStockTransfertDate|date("Y - m - d") }}</td>
												<td class="title cstm-darkBlue">{{ one_transfert.getStockTransfertMessage }}</td>
												<td class="title cstm-darkBlue">{{ one_transfert.getWarehouse.getWarehouseName }}</td>
												<td class="title cstm-darkBlue">{{ one_transfert.getWarehouse.getWarehouseName ~ ' -> ' ~ one_transfert.getLinkedTransfert.getWarehouse.getWarehouseName }}</td>
												<td class="title cstm-darkBlue"> <a href={{ path('transfert_detail', { 'id': one_transfert.getWarehouse.getId, 'transfertId': one_transfert.getId }) }} class="btn btn-sm btn-primary">Detail</a></td>
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
