<nav id="dashboard" class="col text-light cardContainer vh-85">
  <div id="dashboardCard" class="card cstm-card w-100 h-100">
    <a class="title-bold fs-5 text-light mt-2 ms-3" href={{ path("dashboard_default") }}>Dashboard</a>
    {# My Warehouses #}
    <p class="title-bold text-light mt-2 ms-3">My Warehouses</p>
    <div class="card bg-cstm-blue border-3 ms-3">
      <ul class="list-unstyled">
        {% for one_warehouse in user_warehouses %}
          {% if one_warehouse.getWarehouseName != 'ALL_DATA' %}
            <li>
              {% if one_warehouse.getId == warehouse.getId %}
                {% set active_link = "title-bold" %}
              {% else %}
                {% set active_link = "" %}
              {% endif %}
              <a class="title text-light mb-1 ms-3 {{ active_link }}" href={{ path("warehouses", {'id': one_warehouse.getId}) }}>{{ one_warehouse.getWarehouseName }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li>
          <a class="title-bold text-light mb-1 ms-3" href="">New Warehouse</a>
        </li>
      </ul>
    </div>
    
    {# Items #}
    <a class="title-bold text-light mt-2 ms-3" href={{ path('products') }}>Products</a>
    <div class="card bg-cstm-blue border-3 ms-3">
      <p></p>
    </div>
    {# Transactions, avtive if warehouse has been selected #}
    <a class="title-bold text-light mt-2 ms-3" href="">Transactions</a>
    <div class="card bg-cstm-blue border-3 ms-3">
      {% if warehouse.getId != null %}
      <a class="title-bold text-light mt-2 ms-3" href={{ path('receptions', {'id': warehouse.getId}) }}>Receptions</a>
      <div class="card bg-cstm-blue border-3 ms-3">
        <p></p>
      </div>
      {# Transferts #}
      <a class="title-bold text-light mt-2 ms-3" href={{ path('transferts') }}>Transferts</a>
      {# New transfert #}
      <div class="card bg-cstm-blue border-3 ms-3">
        <a class="title text-light mt-2 ms-3 ps-1" href="">New transfert</a>
      </div>
      {# Stock modifications #}
      <a class="title-bold text-light mt-2 ms-3" href={{ path('stock_modifications') }}>Stock modifications</a>
      <div class="card bg-cstm-blue border-3 ms-3">
        <p></p>
      </div>
      {% else %}
        <p class="title text-light mt-2 ms-3">No Warehouse selected</p>
      {% endif %}
    </div>
    {# Inventories #}
    <a class="title-bold text-light mt-2 ms-3" href="">Inventrories</a>
    <div class="card bg-cstm-blue border-3 ms-3">
      {# New inventory #}
      <a class="title text-light mt-2 ms-3 ps-1" href="">New inventory</a>
    </div>
    {# Reports #}
    <a class="title-bold text-light mt-2 ms-3" href="">Reports</a>
    <div class="card bg-cstm-blue border-3 ms-3">
      <p></p>
    </div>
  </div>
</nav>
