{% extends 'base.html.twig' %}

{% block stylesheets %}
	<!-- CUSTOM CSS -->
	<link rel="stylesheet" href="{{ asset('styles/style.css') }}">
{% endblock %}

{% block page_content %}
	<div class="row content grid-1-5">
		{# 20% width : Menu#}
		{% include "/shared_templates/dashboard_menu.html.twig" %}
		<div class="col">
			{# 80% width : Main content #}
			{# 1st ROW : Warehouses List, Selected Warehouse, Search bar #}
			<div class="row vh-15 text-light grid-1-2-2">
				<div class="col vh-15 p-1">
					<div class="cstm-card h-100 my-0">
						<p class="bg-cstm-blue pb-2 mb-0">My Warehouses</p>
						<div class="bg-light h-70 overflow-hidden">
							<ul class="list-unstyled bg-light mt-0">
								{% for one_warehouse in user_warehouses %}
								<li>
									{% if one_warehouse.getId == warehouse.getId %}
										{% set active_link = "title-bold" %}
									{% else %}
										{% set active_link = "" %}
									{% endif %}
									<a class="title mb-1 ms-1 cstm-darkBlue {{ active_link }}" href={{ path("dashboard", {'id': one_warehouse.getId}) }}>{{ one_warehouse.getWhName }}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="col vh-15 p-1">
					<div class="cstm-card h-100">
						<div class="bg-light h-100">
							<p class="bg-cstm-blue pb-2 mb-0">Selected : <span class="ps-1 my-0">{{ warehouse.getWhName }}</span></p>
							<p class="row ps-1 my-0 cstm-darkBlue">{{ warehouse.getWhAddressNumber ~ ' ' ~ warehouse.getWhAddressRoad ~ ' ' ~ warehouse.getWhAddressPostalCode ~ ' ' ~ warehouse.getWhAddressCity }}</p>
							<p class="row ps-1 my-0 cstm-darkBlue">{{ warehouse.getWhAddressState ~ ' ' ~ warehouse.getWhAddressCountry }}</p>
							<p class="row ps-1 my-0 cstm-darkBlue">{{ warehouse.getWhPhone }}</p>
						</div>
					</div>
				</div>
				<div class="col vh-15 p-1">
					<div class="cstm-card h-100">
						<p>Search</p>
					</div>
				</div>
			</div>
			{# 2nd ROW : Last events #}
			<div class="vh-70 p-1">
				<div class="cstm-card h-100">
					<p>Last events</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
